.dialog {
  width: 1000px;
  padding: 30px;
  display: flex;
}

.flag {
  flex: 1;
}

.flag img {
  width: 600px;
  height: auto;
  border: 1px solid lightgray;
}

.info {
  flex: 2;
  padding-left: 20px;
}

.coat-of-arms {
  flex: 1; /* Occupy 1/3 of the space */
}

.coat-of-arms img {
  width: 100%;
  height: auto;
}
